@import '../assets/colors';

.menuWrapper {
  background: #f3e4e1;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .cartIconButton {
    position: absolute;

    right: 0px;
    top: 0px;
    z-index: 100;
  }
  .cartIconButton:hover {
    cursor: pointer;
  }

  img {
  }

  h1 {
    font-size: 42px;
    text-align: center;
    line-height: 120%;
    color: $brown;
    margin-top: 119px;
  }
  ul {
    // padding: 32px;
    max-width: 600px;
    li {
      width: 311px;
      list-style-type: none;

      display: flex;
      justify-content: space-between;

      .listFlex {
        display: flex;
        justify-content: space-between;
      }
      h3 {
        font-family: PT Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 120%;
        color: $brown;
        flex-grow: 1;
      }
      figure {
        overflow: hidden;
      }
      .dotsMenu {
      }

      small {
        color: $brown;
      }
    }
  }
  button {
    background: transparent;
    border: none;

    height: 32px;
  }
  .addButton {
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
  footer {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 73px;
    img {
      object-fit: cover;
      height: 73px;
      object-position: 50% 0%;
    }
  }
}
